<html>
    <head>
        <title>Site App</title>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="site.js"></script>
    </head>
    <body>
	<div ng-app='siteApp' ng-controller='siteController'>
	<label>Site</label>   
		<select ng-model="selectedSite" ng-change="update(selectedSite)">
		<option ng-repeat="site in sites" value="{{site.id}}">{{site.name}}</option>
		</select>
    <form class="site">
        <label>Id</label>
        <input type="text" name="id" ng-model="currentsite.id" />
        <br/>
        <label>Name</label>
        <input type="text" name="name" ng-model="currentsite.name" />
        <br/>
        <label>Key</label>
        <input type="text" name="key" ng-model="currentkey.key" />
        <br/>		
        <input type="button" value="Generate" ng-click="generate(selectedSite)" class="btn btn-primary" />
		<input type="button" value="Delete" ng-click="delete(selectedSite)" class="btn btn-primary" />
    </form>
	</div>
	</body>
</html>