<html>
    <head>
        <title>Site App</title>
		
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="angular-material.min.css">
		
		  <!-- Angular Material requires Angular.js Libraries -->
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="angular-animate.min.js"></script>
		<script type="text/javascript" src="angular-aria.min.js"></script>
		<script type="text/javascript" src="angular-messages.min.js"></script>

		<!-- Angular Material Library -->
		<script src="angular-material.min.js"></script>
  	
		<!-- Site Module  -->
		<script type="text/javascript" src="site.js"></script>
		<!-- Site style sheet  -->
		<link rel="stylesheet" href="site.css">
		
    </head>
    <body>
	<div>
	<md-content>
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			<md-toolbar class="md-primary">
				<div class="md-toolbar-tools md-bgcolor-red">
					<h1 class="md-flex">Site Key Management</h1>
				</div>
			</md-toolbar>
		</section>
	</md-content>	
	</div>
	<div ng-app='siteApp' ng-controller='siteController' ng-cloak>
		<md-content layout-padding>
		<div>
			<md-input-container class="width-100" >
			<label>Site</label>
			<md-select ng-model="selectedSite" ng-change="update(selectedSite)" placeholder="Please select a site">
			<md-optgroup label="Site">
			<md-option ng-repeat="site in sites" value="{{site.id}}">{{site.name}}</md-option>
			</md-optgroup>
			</md-select>
			</md-input-container>
		</div>
		</md-content>
		<div>
		<md-content layout-padding>
			<form name="userForm">
			<div layout-gt-xs="row">
				<md-input-container class="md-block" flex-gt-xs>
				<label>Id</label>
				<input ng-model="currentsite.id" disabled>
				</md-input-container>
			</div>
        
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
				<label>Name</label>
				<input ng-model="currentsite.name" disabled>
				</md-input-container>
			</div>
        
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
				<label>Key</label>
				<input ng-model="currentkey.key" disabled>
				</md-input-container>
			</div>
		
			<div layout-gt-sm="row">
				<md-button ng-click="generate(selectedSite)" class="md-raised md-cornered md-green" ng-disabled="false">Generate</md-button>
				<md-button ng-click="delete(selectedSite)"   class="md-raised md-cornered md-red" ng-disabled="false">Delete</md-button>
			</div>  
			</form>
		</md-content>  
		</div>

		<div>
		<md-content>
			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				<md-toolbar class="md-primary">
					<div class="md-toolbar-tools md-bgcolor-red">
						<h1 class="md-flex">Copyright</h1>
					</div>
				</md-toolbar>
			</section>
		</md-content>	
		</div>	
	</body>
</html>